.container-fluid {
  li {
    list-style: none;


  }
}

.blog-tile {
  width: 350px;
  height: 400px;
  text-align: center;
  border: solid 2px black;
  margin: 10px;
  box-shadow: 2px 3px grey;
  padding: 0;
  img {
    width: 100%;
    height: 230px;
    padding: 0;
  }
  h4 {
    padding-left: 10px;
    padding-right: 10px;
  }
  p {
    margin: 0;
    font-family: 'Sue Ellen Francisco';
  }
}
.indexList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  }

.blogDetailImage {
  width: 500px;
  height: auto;
    img {
      width: 100%;
      height: 100%;
    }
}
