
<h1>Numinous Journey</h1>
<p>(Numinous: Describing an experience that makes you fearful yet fascinated, awed yet attracted- the powerful, personal feeling of being overwhelmed and inspired)</p>
<h3>Life is too short</h3>

<ul>
  {{#each model as |blog|}}
     {{blog-tile blog=blog}}
  {{/each}}
</ul>
