<div class="jumbotron">
  <h1>Numinous Journey</h1>
  <p>(Numinous: The powerful, personal feeling of being overwhelmed and inspired)</p>
  <h3>Life is too short</h3>
</div>

<ul class="indexList">
  {{#each model as |blog|}}
     {{blog-tile blog=blog}}
  {{/each}}
</ul>
